In [109]:
import pandas as pd

In [110]:
senate_df_2014 = pd.read_csv('/Users/saptarshighose/Downloads/Texas-Blue-master 5/add_senate_2014.csv')

In [111]:
senate_df_2014['year'] = 2014

In [112]:
senate_df_2014['office'] = 'senate'

In [113]:
senate_df_2014['candidate_hispanic'] = 0

In [114]:
senate_df_2014['candidate_male'] = 1

In [115]:
senate_df_2014.head()

,Unnamed: 0,county,candidate,vote_share,pro_gun_control,district,year,office,candidate_hispanic,candidate_male
0,0,ANDERSON,David M. Alameel,0.205648,1,5,2014,senate,0,1
1,1,ANDREWS,David M. Alameel,0.083923,1,11,2014,senate,0,1
2,2,ANGELINA,David M. Alameel,0.209692,1,1,2014,senate,0,1
3,3,ARANSAS,David M. Alameel,0.205214,1,27,2014,senate,0,1
4,4,ARCHER,David M. Alameel,0.102689,1,13,2014,senate,0,1

In [116]:
data_for_model_df = pd.read_csv('/Users/saptarshighose/Downloads/Texas-Blue-master 5/data_for_model.csv')

In [117]:
data_for_model_df['year'] = 2016

In [118]:
data_for_model_df.head()

,county,office,district_num_x,dem_candidate,two_party_vtshare,county_num_x,office_x,med_two_party_vtshare,pro_gun_control,pro_choice,...,candidate_female,county_num_y,urban,border,population,percent_female,percent_hispanic,veterans_per_1000,crimes_per_1000,year
0,ANGELINA,house,1.0,Shirley McKellar,0.324669,3.0,house,0.286292,1.0,1.0,...,1,3.0,0.0,0.0,90652,0.504953,0.226493,66.85,36.680,2016
1,ARANSAS,house,27.0,Raul (Roy) Barrera,0.243980,4.0,house,0.305126,NaN,NaN,...,0,4.0,1.0,0.0,25234,0.506975,0.274828,114.69,45.775,2016
2,ATASCOSA,house,28.0,Henry Cuellar,0.470437,7.0,house,0.753851,0.0,0.0,...,0,7.0,1.0,0.0,49086,0.510105,0.636149,68.83,24.167,2016
3,AUSTIN,house,10.0,Tawana W. Cadien,0.162999,8.0,house,0.220102,1.0,1.0,...,1,8.0,1.0,0.0,30565,0.507836,0.282480,63.13,18.054,2016
4,BANDERA,house,21.0,Tom Wakely,0.158058,10.0,house,0.184761,1.0,1.0,...,0,10.0,1.0,0.0,21897,0.505549,0.187651,128.97,13.725,2016

In [119]:
data_for_model_df = data_for_model_df[['year','county','office','district_num_x','dem_candidate', 'two_party_vtshare','pro_gun_control','candidate_male','candidate_hispanic']]

In [120]:
data_for_model_df = data_for_model_df.rename(columns={'dem_candidate': 'candidate', 'district_num_x': 'district', 'two_party_vtshare':'vote_share'})

In [121]:
data_for_model_df.head()

,year,county,office,district,candidate,vote_share,pro_gun_control,candidate_male,candidate_hispanic
0,2016,ANGELINA,house,1.0,Shirley McKellar,0.324669,1.0,0,0
1,2016,ARANSAS,house,27.0,Raul (Roy) Barrera,0.243980,NaN,1,1
2,2016,ATASCOSA,house,28.0,Henry Cuellar,0.470437,0.0,1,1
3,2016,AUSTIN,house,10.0,Tawana W. Cadien,0.162999,1.0,0,1
4,2016,BANDERA,house,21.0,Tom Wakely,0.158058,1.0,1,0

In [122]:
senate_df_2014.head()

,Unnamed: 0,county,candidate,vote_share,pro_gun_control,district,year,office,candidate_hispanic,candidate_male
0,0,ANDERSON,David M. Alameel,0.205648,1,5,2014,senate,0,1
1,1,ANDREWS,David M. Alameel,0.083923,1,11,2014,senate,0,1
2,2,ANGELINA,David M. Alameel,0.209692,1,1,2014,senate,0,1
3,3,ARANSAS,David M. Alameel,0.205214,1,27,2014,senate,0,1
4,4,ARCHER,David M. Alameel,0.102689,1,13,2014,senate,0,1

In [123]:
senate_df_2014 = senate_df_2014[['year','county','office','district','candidate','vote_share','pro_gun_control','candidate_male','candidate_hispanic']]

In [124]:
senate_df_2014.head()

,year,county,office,district,candidate,vote_share,pro_gun_control,candidate_male,candidate_hispanic
0,2014,ANDERSON,senate,5,David M. Alameel,0.205648,1,1,0
1,2014,ANDREWS,senate,11,David M. Alameel,0.083923,1,1,0
2,2014,ANGELINA,senate,1,David M. Alameel,0.209692,1,1,0
3,2014,ARANSAS,senate,27,David M. Alameel,0.205214,1,1,0
4,2014,ARCHER,senate,13,David M. Alameel,0.102689,1,1,0

In [125]:
final_df = senate_df_2014.append(data_for_model_df)

In [126]:
house_df = pd.read_csv('/Users/saptarshighose/Downloads/Texas-Blue-master 5/2014_house_final.csv')

In [127]:
house_df = house_df[['year','county','office','district','candidate','vote_share','pro_gun_control','candidate_male','candidate_hispanic']]

In [128]:
house_df.head()

,year,county,office,district,candidate,vote_share,pro_gun_control,candidate_male,candidate_hispanic
0,2014,ANGELINA,house,1,Shirley J McKellar,0.216689,1.0,0.0,0
1,2014,GREGG,house,1,Shirley J McKellar,0.250468,1.0,0.0,0
2,2014,HARRISON,house,1,Shirley J McKellar,0.274187,1.0,0.0,0
3,2014,NACOGDOCHES,house,1,Shirley J McKellar,0.242334,1.0,0.0,0
4,2014,PANOLA,house,1,Shirley J McKellar,0.186310,1.0,0.0,0

In [129]:
final_df = final_df.append(house_df)

In [130]:
final_df.tail()

,year,county,office,district,candidate,vote_share,pro_gun_control,candidate_male,candidate_hispanic
210,2014,LIBERTY,house,36,Michael K. Cole,0.196072,0.0,1.0,0
211,2014,NEWTON,house,36,Michael K. Cole,0.255069,0.0,1.0,0
212,2014,ORANGE,house,36,Michael K. Cole,0.215097,0.0,1.0,0
213,2014,POLK,house,36,Michael K. Cole,0.193248,0.0,1.0,0
214,2014,TYLER,house,36,Michael K. Cole,0.168467,0.0,1.0,0

In [131]:
final_df.to_csv('final_data_for_model.csv')