In [1]:
import pandas as pd

In [2]:
senate_df_2014 = pd.read_csv('add_senate_2014.csv')

In [3]:
senate_df_2014['year'] = 2014

In [4]:
senate_df_2014['office'] = 'senate'

In [5]:
senate_df_2014['candidate_hispanic'] = 0

In [6]:
senate_df_2014['candidate_male'] = 1

In [7]:
senate_df_2014.head()

,Unnamed: 0,county,candidate,vote_share,pro_gun_control,district,year,office,candidate_hispanic,candidate_male
0,0,ANDERSON,David M. Alameel,0.205648,1,5,2014,senate,0,1
1,1,ANDREWS,David M. Alameel,0.083923,1,11,2014,senate,0,1
2,2,ANGELINA,David M. Alameel,0.209692,1,1,2014,senate,0,1
3,3,ARANSAS,David M. Alameel,0.205214,1,27,2014,senate,0,1
4,4,ARCHER,David M. Alameel,0.102689,1,13,2014,senate,0,1

In [8]:
data_for_model_df = pd.read_csv('data_for_model.csv')

In [9]:
data_for_model_df['year'] = 2016

In [10]:
data_for_model_df.head()

,Unnamed: 0,county,district_num_x,dem_candidate,two_party_vtshare,county_num_x,office_x,med_two_party_vtshare,pro_gun_control,pro_choice,...,candidate_female,county_num_y,urban,border,population,percent_female,percent_hispanic,veterans_per_1000,crimes_per_1000,year
0,0,ANGELINA,1,Shirley McKellar,0.324669,3,house,0.286292,1.0,1.0,...,1,3.0,0.0,0.0,90652.0,0.504953,0.226493,66.85,36.680,2016
1,1,GREGG,1,Shirley McKellar,0.380268,92,house,0.286292,1.0,1.0,...,1,92.0,1.0,0.0,125907.0,0.505564,0.213594,70.82,48.014,2016
2,2,HARRISON,1,Shirley McKellar,0.361176,102,house,0.286292,1.0,1.0,...,1,102.0,0.0,0.0,68716.0,0.502532,0.145265,69.43,26.614,2016
3,3,NACOGDOCHES,1,Shirley McKellar,0.422490,174,house,0.286292,1.0,1.0,...,1,174.0,0.0,0.0,65596.0,0.515016,0.209220,52.96,29.661,2016
4,4,PANOLA,1,Shirley McKellar,0.214388,183,house,0.286292,1.0,1.0,...,1,183.0,0.0,0.0,24145.0,0.499110,0.098820,68.79,32.602,2016

In [12]:
data_for_model_df = data_for_model_df[['year','county','office_x','district_num_x','dem_candidate', 'two_party_vtshare','pro_gun_control','candidate_male','candidate_hispanic']]

In [13]:
data_for_model_df = data_for_model_df.rename(columns={'dem_candidate': 'candidate', 'district_num_x': 'district', 'two_party_vtshare':'vote_share'})

In [14]:
data_for_model_df.head()

,year,county,office_x,district,candidate,vote_share,pro_gun_control,candidate_male,candidate_hispanic
0,2016,ANGELINA,house,1,Shirley McKellar,0.324669,1.0,0,0
1,2016,GREGG,house,1,Shirley McKellar,0.380268,1.0,0,0
2,2016,HARRISON,house,1,Shirley McKellar,0.361176,1.0,0,0
3,2016,NACOGDOCHES,house,1,Shirley McKellar,0.422490,1.0,0,0
4,2016,PANOLA,house,1,Shirley McKellar,0.214388,1.0,0,0

In [15]:
senate_df_2014.head()

,Unnamed: 0,county,candidate,vote_share,pro_gun_control,district,year,office,candidate_hispanic,candidate_male
0,0,ANDERSON,David M. Alameel,0.205648,1,5,2014,senate,0,1
1,1,ANDREWS,David M. Alameel,0.083923,1,11,2014,senate,0,1
2,2,ANGELINA,David M. Alameel,0.209692,1,1,2014,senate,0,1
3,3,ARANSAS,David M. Alameel,0.205214,1,27,2014,senate,0,1
4,4,ARCHER,David M. Alameel,0.102689,1,13,2014,senate,0,1

In [16]:
senate_df_2014 = senate_df_2014[['year','county','office','district','candidate','vote_share','pro_gun_control','candidate_male','candidate_hispanic']]

In [17]:
senate_df_2014.head()

,year,county,office,district,candidate,vote_share,pro_gun_control,candidate_male,candidate_hispanic
0,2014,ANDERSON,senate,5,David M. Alameel,0.205648,1,1,0
1,2014,ANDREWS,senate,11,David M. Alameel,0.083923,1,1,0
2,2014,ANGELINA,senate,1,David M. Alameel,0.209692,1,1,0
3,2014,ARANSAS,senate,27,David M. Alameel,0.205214,1,1,0
4,2014,ARCHER,senate,13,David M. Alameel,0.102689,1,1,0

In [18]:
final_df = senate_df_2014.append(data_for_model_df)

In [22]:
house_df = pd.read_csv('2014_house_final.csv')

In [23]:
house_df = house_df[['year','county','office','district','candidate','vote_share','pro_gun_control','candidate_male','candidate_hispanic']]

In [24]:
house_df.head()

,year,county,office,district,candidate,vote_share,pro_gun_control,candidate_male,candidate_hispanic
0,2014,ANGELINA,house,1,Shirley J McKellar,0.216689,1.0,0.0,0
1,2014,GREGG,house,1,Shirley J McKellar,0.250468,1.0,0.0,0
2,2014,HARRISON,house,1,Shirley J McKellar,0.274187,1.0,0.0,0
3,2014,NACOGDOCHES,house,1,Shirley J McKellar,0.242334,1.0,0.0,0
4,2014,PANOLA,house,1,Shirley J McKellar,0.186310,1.0,0.0,0

In [25]:
final_df = final_df.append(house_df)

In [30]:
final_df.head()

,candidate,candidate_hispanic,candidate_male,county,district,office,office_x,pro_gun_control,vote_share,year
0,David M. Alameel,0,1.0,ANDERSON,5,senate,NaN,1.0,0.205648,2014
1,David M. Alameel,0,1.0,ANDREWS,11,senate,NaN,1.0,0.083923,2014
2,David M. Alameel,0,1.0,ANGELINA,1,senate,NaN,1.0,0.209692,2014
3,David M. Alameel,0,1.0,ARANSAS,27,senate,NaN,1.0,0.205214,2014
4,David M. Alameel,0,1.0,ARCHER,13,senate,NaN,1.0,0.102689,2014

In [32]:
final_df.office.value_counts()

senate    254
house     215
Name: office, dtype: int64

In [27]:
final_df.to_csv('final_data_for_model.csv')

### Fixing problem 1

In [42]:
x = pd.read_csv('final_data_for_model.csv')

In [43]:
dc = pd.read_csv('main_district_for_counties.csv')
dc.columns = ['county', 'district']
dc = dc.reset_index()

In [44]:
p = x[x.office=='president']

In [45]:
dc_dict = {}
for idx, r in dc.iterrows():
    dc_dict[dc.iloc[idx].county] = dc.iloc[idx].district

In [46]:
p.district = p.county.apply(lambda x: dc_dict[x])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [47]:
p.head()

,Unnamed: 0,year,county,office,district,candidate,vote_share,pro_gun_control,candidate_male,candidate_hispanic
425,171,2016,ANDERSON,president,5,Hillary Clinton,0.20,1.0,0.0,0
426,172,2016,ANDREWS,president,11,Hillary Clinton,0.18,1.0,0.0,0
427,173,2016,ANGELINA,president,1,Hillary Clinton,0.26,1.0,0.0,0
428,174,2016,ARANSAS,president,27,Hillary Clinton,0.24,1.0,0.0,0
429,175,2016,ARCHER,president,13,Hillary Clinton,0.09,1.0,0.0,0

In [48]:
x = x.dropna(subset=['district'])

In [49]:
x = x.append(p)

In [50]:
x.office.value_counts()

house        386
senate       254
president    254
Name: office, dtype: int64

In [52]:
x.to_csv('final_data_0927.csv')